<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
</head>
<body>
    <h1>
        Bem vindo
    </h1>
    <h1>
        pagina de teste
    </h1>
    <h2>
        Te amo bina 
     </h2>
     <p>
         bina é <strong>muito</strong> linda
     </p>
 
     <h1>Meu título principal</h1>
     <h2>Meu título de alto nível</h2>
     <h3>Meu subtítulo</h3>
     <h4>Meu segundo subtítulo</h4>
 
     <p>Este é um parágrafo simples</p>
 
     <ul>
         <li>tecnólogos</li>
         <li>pensadores</li>
         <li>construtores</li>
     </ul>
</body>
</html>